# Python virtual environment
.venv/
venv/
ENV/

# Python compile cache / artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Large Datasets (Avoid pushing large datasets to Git)
IMDB Dataset.csv
*.csv

# Node dependencies and build folders
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# IDE configurations
.vscode/
.idea/
.DS_Store
Thumbs.db
